mixin radio({name1='radio_1', radio1='1st', radio2='2nd'})
    .radio__wrapper
        input.radio__input(type='radio', name=name1)
        label.radio__label(for=name)
        span.radio__text= radio1
        input.radio__input(type='radio', name=name1)
        label.radio__label(for=id)
        span.radio__text= radio2