mixin pie-chart(vote)
    - var {best=25, good=25, normal=50, bad=0} = vote
    - var circleLenght = 100 
    - var gap = 0.7
    .pie-chart
        svg.donut(width='120' height='120' viewbox='0 0 33 33')
            circle.donut-hole(cx='50%' cy='50%' r='15.91549430918954' fill='#fff')
            circle.donut-ring(cx='50%' cy='50%' r='15.91549430918954' fill='transparent' stroke='#ffffff' stroke-width='1')
            //- each value in vote
            //-     if value!==0
            circle.donut-segment(cx='50%' cy='50%' r='15.91549430918954' fill='transparent' stroke='#a3a0fc' stroke-width='1' stroke-dasharray=`${best-gap} ${100-best+gap}` stroke-dashoffset='25')
            circle.donut-segment(cx='50%' cy='50%' r='15.91549430918954' fill='transparent' stroke='#6bd0b8' stroke-width='1' stroke-dasharray=`${good-gap} ${100-good+gap}` stroke-dashoffset='0')
            circle.donut-segment(cx='50%' cy='50%' r='15.91549430918954' fill='transparent' stroke='#ffce9c' stroke-width='1' stroke-dasharray=`${normal-gap} ${100-normal+gap}` stroke-dashoffset='-25')