mixin room-card({img=[], id=888, status='', price='9 990', reviews='145', stars='4'})
    .room-card
        .room-card__slider
            each item,i in img
                .room-card__slider-item
                    img(src=require('../../components/room-card/img/room'+img[i]+'.png').default, alt='room image')
        .room-card__description
                .room-card__number
                    span.room-card__text  №
                    span.room-card__id= id
                    span.room-card__class= status
                .room-card__price
                    span.room-card__amount= price
                    span.room-card__interval в сутки
        .room-card__rating
            .room-card__vote
                +rating({stars:stars})
            .room-card__reviews
                span.room-card__review-quantity= reviews
                span.room-card__review-text Отзывов