mixin rate-btn
    .rate__wrapper
        span.rate__value= 'star_border'
        span.rate__value= 'star_border'
        span.rate__value= 'star_border'
        span.rate__value= 'star_border'
        span.rate__value= 'star_border'
        