mixin dropdown({label='label', id, name,option1='взрослые',option2='дети',option3='младенцы',placeholder=""})
    .dropdown__wrapper.js-dropdown__wrapper
        .dropdown__content.js-dropdown__content
            label.dropdown__label(for=name)= label
            input.dropdown__elem(id=id, placeholder=placeholder)
            button.dropdown__expand
        .dropdown__options.js-dropdown__options
            .dropdown__options-row
                .dropdown__name
                    p.dropdown__text= option1
                .dropdown__counter
                    button.dropdown__btn-minus -
                    span.dropdown__quantity 0
                    button.dropdown__btn-plus +
            .dropdown__options-row
                .dropdown__name
                    p.dropdown__text= option2
                .dropdown__counter
                    button.dropdown__btn-minus -
                    span.dropdown__quantity 0
                    button.dropdown__btn-plus +
            .dropdown__options-row
                .dropdown__name
                    p.dropdown__text= option3
                .dropdown__counter
                    button.dropdown__btn-minus -
                    span.dropdown__quantity 0
                    button.dropdown__btn-plus +